:root {
    --light-primary-color: #a2caf0;
    --dark-primary-color:#296092;
    --primaray-color: #3e87c9;
    --text: #FFFFFF;
    --accent-color: #cf7b31;
    --primary-text: #212121;
    --secondary-text: #757575;
    --divided-color: #bdbdbd;
    --font-title:'Comfortaa', cursive;
    --font-text:'Roboto', sans-serif;

}

body {
    margin: 0;
    padding: 0;
    background: var(--light-primary-color);
    font-family: var(--font-text);
    color: var(--primary-text);
}

h1, h2, h3, h4, h5 {
    font-family: var(--font-title);
    font-weight: 700;
}

h1 {
    color: var(--text);
    font-size: 48pt;
    line-height: 1.3;
    letter-spacing: -2pt;
    margin: 10px;
}

.Header {
    background: var(--dark-primary-color);
    color: var(--text);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Header figure {
    margin: 10px;
}

.Header ul {
    list-style: none;
    display: flex;
}

.Header li{
    margin: 0px 12px;
}

.Header a {
    color: var(--text);
    text-decoration: none;
}

.Hero {
    /* border: 1px solid greenyellow; */
    height: 600px;
    background: var(--primaray-color);
    background-image: url(../IMG/Land01.jpeg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position-x: center;
    /* background-attachment: fixed; */
    display: flex;
    align-items: flex-end;
}

.Hero strong {
    color: var(--accent-color);
}

.Portafolio {
    background: var(--light-primary-color);
    /* width: 900px; */
    /* display: flex;
    flex-direction: column;
    justify-content: center; */
}

.Portafolio h2 {
    margin-left: 50px;
    width: 900px;
    margin-left: auto;
    margin-right: auto;
}

.Portafolio article {
    width: 900px;
    margin-left: auto;
    margin-right: auto;
}

.Project {
    border: 1px solid gray;
    border-radius: 10px;
    margin: 20px 50px;
    background: white;
    display: flex;
    height: 300px;
    /* width: 900px; */
    /* padding: 20px 0px 20px 20px; */
}

.ProjectDetails {
    /* border: 1px solid red; */
    width: 400px;
    margin: 10px;
    padding: 10px;
}

.ProjectDetails h4 {
    margin: 15px 0px;
}

.ProjectDetails p {
    margin: 8px 0px;
}

.Project figure {
    height: 300px;
    /* width: 900px; */
    margin: 0;
    /* border: 1px solid blue; */
}

.ProjectImageContainerImp img{
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}

.ProjectImageContainer img {
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
}

.Footer {
    background: var(--dark-primary-color);
    color: var(--text);
    display: flex;
    justify-content: space-between;
}

.Footer a {
    color: var(--text);
    text-decoration: none;
}

.Footer p {
    margin: 20px 10px;
}