:root{
    --light-primary-color: #7aacda;
    --dark-primary-color:#296092;
    --primaray-color: #3e87c9;
    --text-icons: #FFFFFF;
    --accent-color: #c9803e;
    --primary-text: #212121;
    --secondary-text: #757575;
    --divided-color: #bdbdbd;

}

body{
    font-family: "Roboto";
    margin: 0;
    padding: 0;
    background: var(--light-primary-color);
}