:root{
    --light-primary-color: #7aacda;
    --dark-primary-color:#296092;
    --primaray-color: #3e87c9;
    --text-icons: #FFFFFF;
    --accent-color: #c9803e;
    --primary-text: #212121;
    --secondary-text: #757575;
    --divided-color: #bdbdbd;
    --font-title:'Comfortaa', cursive;
    --font-text:'Roboto', sans-serif;

}

body{
    margin: 0;
    padding: 0;
    background: var(--light-primary-color);
    font-family: var(--font-text);
    color: var(--primary-text);
}

h1, h2, h3, h4, h5 {
    font-family: var(--font-title);
    font-weight: 700;
}

h1{
    font-size: 48pt;
    line-height: 1.3;
    letter-spacing: -2pt;
}